.product-description {
  margin: 0;
  padding: 5px;
  width: 70%;
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3; /* Number of lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.add-to-cart {
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    cursor: pointer;
    background-color: #088F8F;
    color: #ffffff;
    border: none;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 5px;
  }
}
