* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Playfair Display", serif;
  background-color: #d2d8d6;
  background-image: linear-gradient(315deg, #d2d8d6 0%, #dce8e0 74%);
}

html,
body,
#root {
  height: 100%;
}